html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    margin: 0;
    padding: 0;
}

.choice-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}